<h1><%= title @room.name %></h1>

<div id="remotesVideos" style="width:100%">
</div>

<div class="botombar" style="height:100px; width:100%; margin:1em">
  <video id="localVideo" style="height:100px"></video>
</div>
