<h1><%= title @room.name %></h1>
<p>Para invitar a alguien a esta sala pasale la siguiente url: <%= content_tag :i, room_url(@room) %></p>

<button id="screenShareButton"></button>

<div id="remotesVideos" style="width:100%">
</div>

<div class="botombar" style="height:100px; width:100%; margin:1em">
  <video id="localVideo" style="height:100px"></video>
</div>
