<h1><%= @room.name %></h1>
<p>Para invitar a alguien a esta sala pasale la siguiente url: <%= link_to room_url(@room), room_url(@room) %></p>

<button id="screenShareButton">Share Screen</button>
<button id="stopVideoButton">Stop</button>
<button id="muteButton">Mute</button>

<div id="remotesVideos" style="width:100%">
</div>

<div class="botombar" style="height:100px; width:100%; margin:1em">
  <video id="localVideo" style="height:100px"></video>
</div>

<% content_for :javascript do %>
  <%= javascript_tag do %>
    Room.initialize("<%= @room.name %>");
  <% end %>
<% end %>
